h1 {
    color: #fff;
}

button {
    border: 1px solid blue;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s linear;
}

button:hover {
    background: rgb(199, 199, 32);
    border: none;
}